@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
.yes-no * {
  all: unset;
}
.yes-no {
  position: absolute;
  border: 1px solid #fff;
}
body {
    font-family: "Roboto", sans-serif;
}
.yes-no.hide {
    display: none;
}
.yes-no {
  z-index: 145;
  display: grid;
  top: calc(100% / 2);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  padding-top: 25px;
  width: 350px;
  opacity: 0;
  text-align: center;
  background-color: var(--color-bg-transparent-secondary);
    border-radius: 8px;
  height: fit-content; 
  opacity: 1; 
  top: 0px;
}
.yes-no .coolal-title, .yes-no .coolal-text, .yes-no .coolal-btnWrapper {
  margin: 0;
  padding: 5px;
  color: var(--color-text-primary);
  font-size: 1.3em;
  text-decoration: none;
}
.yes-no .coolal-title {
  font-weight: bold;
}
.yes-no .coolal-text {
  margin-top: -10px;
  padding-bottom: 20px;
  font-size: 1em;
  border-bottom: 0;
}
.yes-no .coolal-btnWrapper {
  display: flex;
  padding: 0;
  border-top: 1px solid var(--color-bg-secondary);
  border-bottom: 0;
}
.yes-no .coolal-btnWrapper a {
  display: inline-block;
  margin: 0;
  padding-top: 9px;
  height: 37px;
  color: var(--main-effect);
  text-decoration: none;
}
.yes-no .coolal-btnWrapper a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.yes-no .coolal-alert {
  width: 100%;
    border-radius: var(--radius);
}
.yes-no .coolal-yes-no {
  width: calc( 100% / 2 - 0.5px);
  border-bottom-right-radius: 8px;
}
.yes-no .coolal-yes-no:first-child {
  border-right: 1px solid #aaa;
    border-radius: var(--radius);
}

#warning .warning-ok {
width: 100%;
border-bottom-right-radius: 8px;
}
#warning .warning-yes-no:first-child {
border-right: 1px solid #aaa;
  border-radius: var(--radius);
}
