:root {
  --file-columns: 10;
}
.files {
  width: 100%;
  position: fixed;
  top: 30px;
  gap: 4px;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, calc(100% / var(--file-columns)));
  justify-content: center;
  align-content: start;
    margin: 0px;
    padding: 0px;
    padding-bottom: calc(30px * 2 + 60px);
    padding-top: calc(30px * 2);
    height: auto;
}
.files .group {
  display: flex;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-direction: column;
  justify-content: space-between;
}
.files .selected {
  color: #fff;
    border-radius: var(--radius);
  border: 1px solid rgba(200, 200, 200, 0.6);
  background-color: rgba(200, 200, 200, 0.6);
}
.files .selected * {
  margin: 2px;
  width: calc(100% - 2 * 2px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.files .image {
  background: var(--color-bg-primary);
  border-radius: var(--radius);
  color: #fff;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
}

.files img.image {
  background-color: transparent;
}

.files p {
  height: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 8px;
}

.files h1 {
  font-weight: 700;
  font-size: 125%;
  display: flex;
  aspect-ratio: 1/1;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-family: "San Francisco";
  user-select: none;
  pointer-events: auto;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.files input {
  all: unset;
  border-radius: var(--radius);
  z-index: 100;
  display: block;
  color: #fff;
  background-color: var(--color-bg-transparent-three);
  position: relative;
  height: 20px;
  max-width: 100%;
  margin: 0px;
  padding: 0px 8px;
  margin-top: 8px;
  left: -8px;
  margin-bottom: 20px;
  text-align: center;
}

.openwith {
  overflow-y: auto;
  display: none;
  z-index: 140;
  margin: auto;
  height: auto;
  min-height: 100px;
  max-height: 50%;
  width: 350px;
  background: black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    border-radius: var(--radius);
}
.openwith *[data-app] {
  height: 25px;
  color: #ffffff;
  padding: 20px;
  background: rgba(200, 200, 200, 0.2);
}

.openwith .always {
  position: sticky;
  bottom: 0px;
  width: 100%;
  background: var(--main-effect);
  height: 50px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}